body {
    margin: 0;
}
.header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 95px;
    background: rgb(255, 255, 255);
}
.logo {
    width: 125px;
    padding-top: 25px;
    padding-left: 120px;
}
.botim {
    height: 35px;
}
.menu {
    list-style: none;
    display: inline-block;
    padding-top: 16px;
    padding-left: 140px;
}
.menu li {
    list-style: none;
    display: inline-block;
    padding-left: 50px;
    font-size: 19px;
}
.choose {
    padding: 6px;
    margin-left: 57px;
    margin-top: 30px;
    border-radius: 20px;
}
.section_1 {
    display: flex;
    width: 100%;
    height: 720px;
    background: #fff;
    padding-top: 155px;
}
.left_1 {
    margin-left: 208px;
}
.logos {
    height: 17px;
    padding-top: 5px;
}
.logo_text {
    padding-left: 5px;
    color: blue;
}
.right_1 {
    float: left;
    margin: auto;
}
.home {
    margin-left: -59px;
    margin-top: -188px;
    width: 464px;
}
.section_2 {
    background-color: #f4f5f5;
    width: 100%;
    height: 920px;
}
.fimage {
    float: left;
    padding-left: 100px;
}
.fimg_content {
    margin-top: -279px;
}
h2 {
    color: #fff;
    font-size: 32px;
    text-align: center;
}
.fimg_content p {
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.simage {
    padding-left: 20px;
    float: left;
}
.simg_content h1 {
    margin-top: -615px;
    color: #fff;
    text-align: center;
}
.simg_content p {
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.last_img {
    width: 360px;
    background-color: #e65f42;
    float: left;
    height: 640px;
    margin-left: 25px;
    padding-left: 12px;
    border-radius: 19px;
}
.limg_content h1{
    text-align: center;
    color: #fff59f;
}
.img_offer {
    padding-left: 55px;
    padding-top: 70px;
}
.limg_content p {
    text-align: center;
    font-size: 14px;
    color: #fff59f;
}
.button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 514px;
    color: #007ee5;
    border: 1px solid #007ee5;
    border-radius: 50px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 14px;
}
.footer {
    width: 100%;
    height: 320px;
    background-color: #313233;
}
th {
    padding-left: 113px;
    padding-top: 45px;
    text-align: left;
}
td {
    padding-left: 114px;
    padding-top: 10px;
}
.rows {
    padding: 10px;
    color: #8c8c8c;
}
.l_footer {
    margin-top: -16px;
    background-color: #141414;
    width: 100%;
    height: 74px;
}
.l_fcontent {
    font-size: 12px;
    color: #8c8c8c;
    padding-top: 30px;
    padding-left: 100px;
}
li {
    padding-left: 50px;
    display: inline-block;
}
.s_list {
    padding-left: 198px;
}
.t_list {
    padding-left: 168px;
}